@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

html {
  color: aliceblue;
}

h1 {
  font-family: "Yanone Kaffeesatz", serif;
  font-style: normal;
  
}

.logo {
  float: left;
  margin-right: 15px;
  height: 100px;
}

a:link {
  color: rgb(122, 187, 196);
}

a:visited {
  color: aliceblue;
}

a:hover {
  color: rgb(236, 230, 147);
}

a.current {
  color: rgb(146, 97, 101);
}

a:active {
  color: rgb(127, 151, 138);
}

ul {
  list-style-type: none;
  padding: 0px;
}

.cards img {
  max-height: 150px;
}

.textblock {
  margin: 30px 30% 50px 1px;
  background-color: rgba(94, 79, 77, 0.774);
  padding: 10px;
  text-align: justify; 
}

.index {
  background-image: url('index-background.jpeg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.fall {
  background-image: url('fall-background.jpeg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.spring {
  background-image: url('spring-background.jpeg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.winter {
  background-image: url('winter-background.jpeg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.summer {
  background-image: url('summer-background.jpeg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}