html {
  background-color: rgb(138, 170, 130);
}

.logo {
  float: left;
  margin-right: 15px;
  height: 100px;
}

a:link {
  color: rgb(122, 187, 196);
}

a:visited {
  color: rgb(245, 195, 139);
}

a:hover {
  color: rgb(236, 230, 147);
}

a.current {
  color: rgb(146, 97, 101);
}

a:active {
  color: rgb(127, 151, 138);
}

ul {
  list-style-type: none;
  padding: 0px;
}